<div class="container">
    <header class="iris-header">
      <div class="flex items-center">
        <img src="./assets/IRISlogo.png" height="40px" width="auto">

      </div>
      <p>About Us</p>
    </header>
    <div class="iris-container">
      <div class="iris-translator">
        <div class="flex items-center" style="border: 1px solid rgba(89, 98, 115, 0.19); border-radius: 8px 8px 0 0; background-color: #F0F0F3;">
          <div style="flex: calc(50% - 40px);" class="wrap" >
            <a href="#" class="btn6">
              <div class="language">ENGLISH</div>
            </a>
          </div>
          <div style="width: 80px; display: flex; justify-content: center; align-items: center; background-color: #F0F0F3;">
          </div>
          <div style="flex: calc(50% - 40px);" class="wrap" >
            <a href="#" class="btn6" style="display: flex; margin-right: 50px; justify-content: center;">
              <div class="language" onclick="changeLang('en')" id="en">ENGLISH</div>
              <div class="language" onclick="changeLang('dzo')" id="dzo">DZONGKHA</div>
              <div class="language" onclick="changeLang('nepali')" id="nepali">NEPALI</div>
              <div class="language" onclick="changeLang('sharchop')" id="sharchop">SHARCHOP</div>
            </a>
          </div>
        </div>
        <div class="flex" style="height: calc(100% - 67px); background-color: #F0F0F3;">
          <div style="flex: calc(50% - 40px); padding: 24px 32px; border-right: 1px solid rgba(89, 98, 115, 0.19)          ;">
            <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
              <div style="height: calc(100% - 50px);">
                <div id="" >
                  <div style="display: flex; justify-content: center; align-items: center; height: 100%">

                    <div id="microphone" class="hide-element">
                      <p style="font-size: 24px; margin: 0;" id="speechToTextResult" class="hide-element"></p><br>
                      <div  style="background-color: #d4d4d4; border-radius: 50%; height: 250px; width:250px; display:flex; justify-content: center; align-items: center;">
                        <i id="mic-icon" onclick="getSpeech()" class="fa-solid fa-microphone"
                        style="cursor: pointer; font-size: 150px; box-shadow: gray;"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="video" id="video">
                  <div id="video-container">
                    <video id="pose-video" class="layer" playsinline></video>
                    <canvas id="pose-canvas" class="layer"></canvas>
                    <div id="pose-result" class="layer"></div>
                  </div>
                </div>
              </div>
              <div style="display: flex; align-items: center; cursor: pointer;">
                <!-- <i class="fa-solid fa-microphone" style="font-size: 25px;" id="smallMicrophone" onclick="getSpeech()"></i> -->
                <i class="fa-solid fa-times" style="font-size: 25px; display: none;" id="smallCross"
                  onclick="showCamera()"></i>
              </div>
            </div>
          </div>
          <div style="width: 80px; display: flex; justify-content: center; align-items: center; background-color: #EBEBEB;">
            <i class="fa-solid fa-right-left" style="font-size: 30px;" onclick="changeVideo()"></i>
          </div>
          <div style="flex: calc(50% - 40px); padding: 24px 32px; border-left: 1px solid rgba(89, 98, 115, 0.19)          ;">
            <p style="font-size: 24px; margin: 0; color: rgba(89, 98, 115, 0.8);" id="showSign"></p>
             <img src="./assets/loader.gif" id="loader" class="hide-element">
             <video loop [muted]="true" autoplay playsinline title="usui" preload="auto" height="auto" width="600" id="signVideo" class="hide-element">
              <source src="https://www.ablinq.co/wp-content/uploads/2021/09/Website-Background-Social-Compressed-NO-LOGO.mp4" type="video/mp4">
              </video>
              </div>
        </div>
      </div>
    </div>
  <div style="display: none">
    <p><button style="height: 30px; width: 60px; cursor: pointer" onclick="changeLang('en')">EN</button> - <button
        style="height: 30px; width: 60px; cursor: pointer " onclick="changeLang('dzo')">DZO</button></p>
    <p> selected language - <p id="lang"></p>
  </div>
    <div class="debug" style="display: none">
      <table class="summary">
        <thead>
          <tr>
            <th>Idx</th>
            <th>Finger</th>
            <th style="width: 110px">Curl</th>
            <th style="width: 170px">Direction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>Thumb</td>
            <td><span id="curl-0">-</span></td>
            <td><span id="dir-0">-</span></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Index</td>
            <td><span id="curl-1">-</span></td>
            <td><span id="dir-1">-</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Middle</td>
            <td><span id="curl-2">-</span></td>
            <td><span id="dir-2">-</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Ring</td>
            <td><span id="curl-3">-</span></td>
            <td><span id="dir-3">-</span></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Pinky</td>
            <td><span id="curl-4">-</span></td>
            <td><span id="dir-4">-</span></td>
          </tr>
        </tbody>
      </table>


    </div>

  </div>
