.header {
   width: 100%;
   height: 96px;
   background-color: rgba(1, 1, 1, 1);
   position: sticky;
   top: 0;
   left: 0;
   transition: 2s;
   z-index: 999999;
}

.header-2 {
 margin-right: 80px;
 font-size: 20px;
 line-height: 28px;
 color: #CDD3DE;
 cursor: pointer;
}

.header-3:hover {
color: #BB86FC;
}
