/* You can add global styles to this file, and also import other style files */

body {
margin: 0;
font-family: 'Barlow', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Shadows Into Light', cursive;
font-family: 'Sulphur Point', sans-serif;
}
a {
   text-decoration: none;
  color: rgba(205, 211, 222, 1);
}
