<div class="container">
  <div class="iris-container">
    <div class="">
      <div class="flex items-center" style="border-radius: 8px 8px 0 0;">
        <div style="flex: calc(50% - 40px);" class="wrap">
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="40px" style="height: 100%; position: relative;">
        <div style="position: absolute; left: calc(50% - 60px); top: calc(50% - 60px); z-index: 99999999; cursor: pointer;" (click)="changeToSpeech()">
          <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
            <circle cx="60" cy="60" r="60" fill="#4A3267"/>
            <g clip-path="url(#clip0_931_11262)">
              <path
                d="M78.125 66.875H46.1906L51.9945 60.6539C52.7031 59.8984 52.6641 58.7109 51.9063 58.0078C51.1484 57.2969 49.9609 57.3359 49.2578 58.0938L40.5078 67.4688C39.834 68.189 39.834 69.307 40.5078 70.0273L49.2578 79.4023C49.625 79.7969 50.125 80 50.625 80C51.084 80 51.543 79.834 51.9047 79.4946C52.6616 78.7891 52.7031 77.6024 51.995 76.8454L46.1906 70.625H78.125C79.1602 70.625 80 69.7852 80 68.75C80 67.7148 79.1641 66.875 78.125 66.875ZM41.875 53.125H73.8125L68.0086 59.3461C67.3006 60.103 67.3421 61.2898 68.0989 61.9953C68.8533 62.7058 70.0427 62.6642 70.7481 61.905L79.4981 52.53C80.172 51.8098 80.172 50.6917 79.4981 49.9714L70.7481 40.5964C70.375 40.2002 69.875 40 69.375 40C68.916 40 68.457 40.166 68.0953 40.5054C67.3384 41.2109 67.2969 42.3976 68.005 43.1546L73.8125 49.375H41.875C40.8398 49.375 40 50.2188 40 51.25C40 52.2812 40.8398 53.125 41.875 53.125Z"
                fill="#BB86FC"/>
            </g>
            <defs>
              <clipPath id="clip0_931_11262">
                <rect width="40" height="40" fill="white" transform="translate(40 40)"/>
              </clipPath>
            </defs>
          </svg>
        </div>

         <!-- <div style="background-color: rgba(46, 46, 46, 1); color: rgba(255, 255, 255, 0.8); cursor: pointer" fxLayout="row" fxLayoutAlign="space-evenly">
           <div class="lang" fxFlex="33" fxLayoutAlign="center center">Voice</div>
           <div class="lang" fxFlex="33" fxLayoutAlign="center center">Text</div>
           <div class="lang" fxFlex="33" fxLayoutAlign="center center">Quick Conversation</div>
         </div> -->
        <div fxFlex="50">
          <mat-tab-group
            style="background-color: #2E2E2E; color: white !important; cursor: pointer" (selectedTabChange)="onTabChanged($event);">
            <mat-tab label="Voice" >
              <div id="speechToTextResult">{{words}}</div>
            <div style="background-color: rgba(187, 134, 252, 1); border-radius: 50%; height: 136px; width:136px; display:flex; justify-content: center; align-items: center; margin-top: 150px; margin-left: 40%">
                        <i id="mic-icon" (click)="getSpeech()" class="fa-solid fa-microphone"
                        style="cursor: pointer; font-size: 50px; box-shadow: gray; color: rgba(43, 39, 48, 1)"></i>
                      </div>
            </mat-tab>

            <mat-tab label="Text">
            <div fxLayout="column" style="padding: 20px" fxLayout="column" fxLayoutAlign="space-between start">
               <textarea  rows="11" cols="37" class="text-area" placeholder="Type to translate" (keydown.enter)="translateText()" [(ngModel)] = "words"></textarea>
            </div>
            </mat-tab>
            <mat-tab label="Quick Conversation">
            <div fxLayout="column">
              <div style="padding: 20px 0 0 50px; cursor: pointer;" fxLayout="row" fxLayoutGap="10px">
                  <button mat-raised-button class="button"  [ngClass]="{'active': isActive('all')}" (click)="selectedButton = 'all'">All</button>
                  <button mat-raised-button class="button"  [ngClass]="{'active': isActive('fav')}" (click)="selectedButton = 'fav'">Favourites</button>
              </div>
              <div style="padding: 10px 0px 0 50px; cursor: pointer; margin-right: 50px;" fxLayout="column" fxLayoutGap="2px" *ngFor="let data of allConversations; let index = index">
               <ng-container *ngIf="selectedButton === 'all'">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                    {{data.display}}
                  </div>
                  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                    <div (click)="playVideo(data.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="33" viewBox="0 0 25 33" fill="none">
                        <g clip-path="url(#clip0_1014_489)">
                        <path d="M5.0625 3.18744C4.1375 2.61869 2.975 2.59994 2.03125 3.13119C1.0875 3.66244 0.5 4.66244 0.5 5.74994V27.7499C0.5 28.8374 1.0875 29.8374 2.03125 30.3687C2.975 30.8999 4.1375 30.8749 5.0625 30.3124L23.0625 19.3124C23.9562 18.7687 24.5 17.7999 24.5 16.7499C24.5 15.6999 23.9562 14.7374 23.0625 14.1874L5.0625 3.18744Z" fill="#BB86FC"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1014_489">
                        <rect width="24" height="32" fill="white" transform="translate(0.5 0.75)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </div>
                    <div *ngIf="data.fav" (click)="changeFav(index, !data.fav)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="23" viewBox="0 0 26 23" fill="none">
                        <path d="M0.5 8.07118V7.78797C0.5 4.37489 2.9668 1.46375 6.33008 0.903207C8.5127 0.532601 10.8223 1.25819 12.4141 2.85243L13 3.43739L13.542 2.85243C15.1777 1.25819 17.4434 0.532601 19.6699 0.903207C23.0342 1.46375 25.5 4.37489 25.5 7.78797V8.07118C25.5 10.0975 24.6602 12.036 23.1758 13.4179L14.3525 21.6552C13.9863 21.997 13.5029 22.1874 13 22.1874C12.4971 22.1874 12.0137 21.997 11.6475 21.6552L2.82373 13.4179C1.34131 12.036 0.500015 10.0975 0.500015 8.07118H0.5Z" fill="#BB86FC"/>
                        </svg>
                    </div>
                    <div *ngIf="!data.fav" (click)="changeFav(index, !data.fav)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                        <g clip-path="url(#clip0_1014_275)">
                        <path opacity="0.4" d="M0.5 10.0713V9.78809C0.5 6.37501 2.9668 3.46388 6.33008 2.90333C8.5127 2.53272 10.8223 3.25831 12.4141 4.85255L13 5.43751L13.542 4.85255C15.1777 3.25831 17.4434 2.53272 19.6699 2.90333C23.0342 3.46388 25.5 6.37501 25.5 9.78809V10.0713C25.5 12.0977 24.6602 14.0361 23.1758 15.418L14.3525 23.6553C13.9863 23.9971 13.5029 24.1875 13 24.1875C12.4971 24.1875 12.0137 23.9971 11.6475 23.6553L2.82373 15.418C1.34131 14.0361 0.500015 12.0977 0.500015 10.0713H0.5Z" fill="white" fill-opacity="0.6"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1014_275">
                        <rect width="25" height="25" fill="white" transform="translate(0.5 0.75)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </div>
                  </div>
                </div>
                <hr width="100%">
               </ng-container>
               <ng-container *ngIf="selectedButton === 'fav' && data.fav">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                    {{data.display}}
                  </div>
                  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                    <div (click)="playVideo(data.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="33" viewBox="0 0 25 33" fill="none">
                        <g clip-path="url(#clip0_1014_489)">
                        <path d="M5.0625 3.18744C4.1375 2.61869 2.975 2.59994 2.03125 3.13119C1.0875 3.66244 0.5 4.66244 0.5 5.74994V27.7499C0.5 28.8374 1.0875 29.8374 2.03125 30.3687C2.975 30.8999 4.1375 30.8749 5.0625 30.3124L23.0625 19.3124C23.9562 18.7687 24.5 17.7999 24.5 16.7499C24.5 15.6999 23.9562 14.7374 23.0625 14.1874L5.0625 3.18744Z" fill="#BB86FC"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1014_489">
                        <rect width="24" height="32" fill="white" transform="translate(0.5 0.75)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </div>
                    <div *ngIf="data.fav" (click)="changeFav(index, !data.fav)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="23" viewBox="0 0 26 23" fill="none">
                        <path d="M0.5 8.07118V7.78797C0.5 4.37489 2.9668 1.46375 6.33008 0.903207C8.5127 0.532601 10.8223 1.25819 12.4141 2.85243L13 3.43739L13.542 2.85243C15.1777 1.25819 17.4434 0.532601 19.6699 0.903207C23.0342 1.46375 25.5 4.37489 25.5 7.78797V8.07118C25.5 10.0975 24.6602 12.036 23.1758 13.4179L14.3525 21.6552C13.9863 21.997 13.5029 22.1874 13 22.1874C12.4971 22.1874 12.0137 21.997 11.6475 21.6552L2.82373 13.4179C1.34131 12.036 0.500015 10.0975 0.500015 8.07118H0.5Z" fill="#BB86FC"/>
                        </svg>
                    </div>
                    <div *ngIf="!data.fav" (click)="changeFav(index, !data.fav)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                        <g clip-path="url(#clip0_1014_275)">
                        <path opacity="0.4" d="M0.5 10.0713V9.78809C0.5 6.37501 2.9668 3.46388 6.33008 2.90333C8.5127 2.53272 10.8223 3.25831 12.4141 4.85255L13 5.43751L13.542 4.85255C15.1777 3.25831 17.4434 2.53272 19.6699 2.90333C23.0342 3.46388 25.5 6.37501 25.5 9.78809V10.0713C25.5 12.0977 24.6602 14.0361 23.1758 15.418L14.3525 23.6553C13.9863 23.9971 13.5029 24.1875 13 24.1875C12.4971 24.1875 12.0137 23.9971 11.6475 23.6553L2.82373 15.418C1.34131 14.0361 0.500015 12.0977 0.500015 10.0713H0.5Z" fill="white" fill-opacity="0.6"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1014_275">
                        <rect width="25" height="25" fill="white" transform="translate(0.5 0.75)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </div>
                  </div>
                </div>
                <hr width="100%">
               </ng-container>


              </div>
            </div>
            </mat-tab>
          </mat-tab-group>
        </div>
         <div fxFlex="50" style="background-color: rgba(0, 0,0, 0.3)" fxLayout="row" fxLayoutAlign="center center">
          <ng-container>
            <video autoplay muted id="vid" height="430px" width="100%" src="" class="ng-star-inserted" style="display: none;"></video>
          </ng-container>
               </div>
      </div>
    </div>
  </div>
  <div style="display: none">
    <p>
      <button style="height: 30px; width: 60px; cursor: pointer" onclick="changeLang('en')">EN</button>
      -
      <button
        style="height: 30px; width: 60px; cursor: pointer " onclick="changeLang('dzo')">DZO
      </button>
    </p>
    <p> selected language -
    <p id="lang">en</p>
  </div>
  <div class="debug" style="display: none">
    <table class="summary">
      <thead>
      <tr>
        <th>Idx</th>
        <th>Finger</th>
        <th style="width: 110px">Curl</th>
        <th style="width: 170px">Direction</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>0</td>
        <td>Thumb</td>
        <td><span id="curl-0">-</span></td>
        <td><span id="dir-0">-</span></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Index</td>
        <td><span id="curl-1">-</span></td>
        <td><span id="dir-1">-</span></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Middle</td>
        <td><span id="curl-2">-</span></td>
        <td><span id="dir-2">-</span></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Ring</td>
        <td><span id="curl-3">-</span></td>
        <td><span id="dir-3">-</span></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Pinky</td>
        <td><span id="curl-4">-</span></td>
        <td><span id="dir-4">-</span></td>
      </tr>
      </tbody>
    </table>


  </div>

</div>

